@import "~antd/dist/antd.css";
.App {
  text-align: left;
}

.ant-layout-header {
  height: 40px;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
